.top {
  display: block;
  background-color: rgb(61, 61, 61);
  width: 100%;
  height: 200px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.right,
.left {
  display: block;
  background-color: rgb(224, 224, 224);
  width: 200px;
  height: 100vh;
}

.bottom {
  width: 100%;
  height: 100px;
  background-color: rgb(37, 37, 37);
  margin-top: 839px;
}
